/* ========== google-font =========== */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');

/* ==========
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
========== */


/* ========== default-css =========== */
body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 46px;
    color: #18253e;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;

}

h3 a {
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}

h3 a:hover {
    color: #f93e45;
    text-decoration: none;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #f93e45;
}

/* ========== site-style-css =========== */

.section-padding-bottom {
    padding-bottom: 100px;
}

.section-margin-bottom {
    margin-bottom: 100px;
}

.rent {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #ffffff;
}

.pad-l-10 {
    padding-left: 10px;
    font-size: 12px;
}

.featured-item {
    padding: 15px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 490px;
    width: 100%;
    position: relative;
    margin-top: 30px;
}

.featured-item:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(24, 37, 62);
    background: -webkit-linear-gradient(0deg, #18253e 1%, rgba(255, 255, 255, 0) 93%);
    background: -o-linear-gradient(0deg, #18253e 1%, rgba(255, 255, 255, 0) 93%);
    background: linear-gradient(0deg, #18253e 1%, rgba(255, 255, 255, 0) 93%);
    border-radius: 5px;
}


.featured-content {
    position: absolute;
    bottom: 15px;
    transition: .5s;
}

.featured-content ul {
    padding: 0;
    margin: 0;
}

.featured-content ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #ffffff;
}

.featured-content ul li:first-child {
    padding-left: 0;
}

.featured-content ul li:last-child {
    border: none;
}


.feature-btn {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    padding: 10px 25px;
    border: 0;
    background: #f93e45;
    transition: .5s;
    position: absolute;
    left: 0;
    bottom: 15px;
    opacity: 0;
}

.feature-btn:hover {
    color: #ffffff;
    background: #18253E;
}

.btn:focus {
    box-shadow: none;
}

.featured-item:hover .feature-btn {
    left: 15px;
    opacity: 1;
}

.featured-item:hover .featured-content {
    bottom: 80px;
}

.box-1 {
    background: url(../img/img-1.jpg);
}

.box-2 {
    background: url(../img/img-2.jpg);
}

.box-3 {
    background: url(../img/img-3.jpg);
}

/* ----- choose-area ----- */

.pt-100 {
    padding-top: 100px;
}

.choose-us {
    background: url(../img/choose-bg.jpg);
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: -300px;
}

.choose-us:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #18253e;
    opacity: .8;
}

.choose-us .section-title {
    text-align: center;
}

.choose-us .section-title h2 {
    color: #fff;
}

.choose-us .section-title p {
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.choose-item {
    text-align: center;
    background: #fff;
    padding: 30px 15px;
    border-radius: 5px;
    position: relative;
    margin-bottom: -100px;
    box-shadow: 0 23px 20px -6px #f1ecec;
    transition: .3s;
    z-index: 1;
}

.choose-item:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #18253e;
    transition: .5s;
    border-radius: 5px;
    z-index: -1;
}

.choose-item h3 {
    color: #18253e;
    margin-bottom: 10px;
}

.choose-item p {
    margin-bottom: 0;
    color: #5d6678;
}

.choose-icon {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #18253e;
    position: relative;
    z-index: 1;
    transition: .5s;
}

.choose-icon:before {
    position: absolute;
    content: "";
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: #e5eeff;
    z-index: -1;
    left: 70px;
    transition: .5s;
}

.choose-us.section-margin-bottom {
    margin-bottom: 200px;
}

.choose-item:hover {
    transform: translate(0, -8px);
}

.choose-item:hover .choose-icon,
.choose-item:hover h3,
.choose-item:hover p {
    color: #fff;
}

.choose-item:hover .choose-icon:before {
    background: #FA6167;
}

.choose-item:hover:after {
    height: 100%;
    background: #F93E45;
}
